<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="org.mybatis.spring.boot.autoconfigure.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="org/mybatis/spring/boot/autoconfigure/repository/CityMapper.xml"/>
    </mappers>
</configuration>
